<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap       = "http://phonegap.com/ns/1.0"
    	xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "com.agb.appgb"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->
	<preference name="phonegap-version" value="3.8.0" />
	<preference name="orientation" value="landscape" />
    <name>AppGB</name>

    <description>
        App de AGB
    </description>

    <author href="http://www.agb.com.py" email="keuch2@gmail.com">
        AGB
    </author>
	
	<preference name="fullscreen" value="true" />
    <feature name="http://api.phonegap.com/1.0/network"/>
    <access origin="*" />
    <access origin="*"/>
    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" version="1" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>

</widget>

